* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.my_class { 
   color: orange;           
}
.second_class {
    background-color: greenyellow;
}
:root {
    --main-clr:orangered;
}
.card {

    border: 1px solid var(--main-clr);
    border-radius: 30px;
    background-color: yellowgreen;
    padding: 20px;
}
.card_wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
@media screen and (max-width: 500px) {
    .card {
        background-color: pink;
    }
}